
.iteam-li{
    background-color: navajowhite;
    color: blueviolet;
    font-size: 20px;
    font-weight: 600;
    float: left;
}

.learnButton{
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    background-color: green;
    color: #fff;
    border-radius: 20px;
    float: right;
}